#kezdes {
    font-family: 'Teko', sans-serif;
    font-family: 'Klee One', cursive;
    background-color: rgba(83, 7, 7, 0.699);
}


body {
    font-family: 'Teko', sans-serif;
    background-color: rgb(134, 126, 126);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
}

#csgo {
    width: 133.4%;
    height: 133.4%;
}

#Valorant {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

#kep{
    border-radius: 0%;
    width: 200px;
    height: 150px; ;
}

#sliderkep {
    border: 10px solid rgb(0, 0, 0);
    height: 450px;
}

.card_{
    float: right;
    max-width: 250px;
    min-width: 150px;
    background-color: white;
}

.card-text {
    color: black;
}

#tortenet{
    background-color:rgb(70, 65, 65);
    border: 3px solid black;
}

p {
    color: white;
}

ul {
    color: white;
    list-style-type: disc;
}

#osszehas {
    font-weight: bold;
    font-size: 150%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#vege{
    margin-top: 50px;
}

footer {
    text-align: center;
    color: white;
}

#a{
    color: white;
}

#aloldalmenu {
    background-color: rgb(70, 65, 65);
    color: white;
    text-align: center;
}

.aloldallink {
    color: white;
    text-decoration: none;
}

.aloldallink:hover {
    color: rgb(70, 65, 65);
}

#li_{
    color: white;
}

footer {
    text-align: center;
    color: white;
}

#a{
    color: white;
}

#aloldalmenu {
    background-color: rgb(70, 65, 65);
    color: white;
    text-align: center;
}

.aloldallink {
    color: white;
    text-decoration: none;
}

.aloldallink:hover {
    color: rgb(70, 65, 65);
}

.dolgok{
    background-color: rgb(70, 65, 65);
    border: 3px solid rgb(70, 65, 65);
    color: white;
}

.bekezdes {
    background-color: rgb(70, 65, 65);
    border: 3px solid black;
}

#UwU {
    border: 3px solid black;
    background-color: rgb(70, 65, 65);
    color: white;
    margin-right: 150px;
    font-size: x-small;
}
