#kezdes {
    font-family: 'Teko', sans-serif;
    font-family: 'Klee One', cursive;
    background-color: rgb(138, 138, 138);
}


body {
    font-family: 'Teko', sans-serif;
    background-color: rgb(138, 138, 138);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
}

#metro {
    width: 133.4%;
    height: 133.4%;
}

#stalker {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

.card_{
    float: right;
    max-width: 250px;
    min-width: 150px;
    background-color: white;
}

.card-text {
    color: black;
}

#tortenet{
    background-color: rgb(56, 61, 71);
    border: 3px solid black;
}

p {
    color: white;
}

ul {
    color: white;
    list-style-type: disc;
}

#osszehas {
    font-weight: bold;
    font-size: 150%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#vege{
    margin-top: 50px;
}

footer {
    text-align: center;
    color: white;
}

#a{
    color: white;
}

#aloldalmenu {
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
}

.aloldallink {
    color: white;
    text-decoration: none;
}

.aloldallink:hover {
    color: rgb(6, 153, 23)
}

#li_{
    color: white;
}

footer {
    text-align: center;
    color: white;
}

#a{
    color: white;
}

#aloldalmenu {
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
}

.aloldallink {
    color: white;
    text-decoration: none;
}

.aloldallink:hover {
    color: rgb(6, 153, 23)
}

.dolgok{
    background-color: rgb(56, 61, 71);
    border: 3px solid rgb(6, 153, 23);
    color: white;
}

.bekezdes {
    background-color: rgb(56, 61, 71);
    border: 3px solid black;
}

#UwU {
    background-color: rgba(1, 114, 1, 0.233);
    color: white;
    margin-right: 270px;
}
