#kezdes {
    font-family: 'Teko', sans-serif;
    font-family: 'Klee One', cursive;
    background-color: rgb(36, 58, 82);
}


body {
    font-family: 'Teko', sans-serif;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
}

#tortenet{
    padding-top: 10px;
    background-color: rgb(81, 81, 81);
    border: 3px solid black;
    color: rgb(255, 255, 255);
    padding-bottom: 3px;
}

h1 {
    text-align: center; 
}

h2 {
    text-decoration: overline;
}

.card_{
    padding-top: 1;
    float: right;
    max-width: 250px;
    min-width: 150px;
    background-color: white;
}

.card-text {
    color: rgb(0, 0, 0);
}

#lolkep {
    border-radius: 8%;
}

#hotskep {
    border-radius: 8%;
}

p {
    color: white;
}

ul {
    color: white;
    list-style-type: disc;
}

#osszehas {
    font-weight: bold;
    font-size: 150%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#vege{
    margin-top: 50px;
}

footer {
    text-align: center;
    color: white;
}

.dolgok{
    background-color: rgb(255, 0, 0);
    border: 20px solid rgb(255, 0, 0);
    color: white;
}

.bekezdes {
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
}

#UwU {
    background-color: rgba(47, 75, 160, 0.233);
    color: white;
    margin-right: 270px;
    border: 4px double black;
    padding: 5px;
}

#sliderkep {
    border: 10px solid rgb(0, 0, 0);
    height: 480px;
}

#aloldalmenu {
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
}

.aloldallink {
    color: white;
    text-decoration: none;
}

.aloldallink:hover {
    color: rgb(74, 96, 204);
}

#TwT {
    border-radius: 0%;
    width: 200px;
}

#lolkep {
    width: 300px;
}

#hotskep {
    width: 300px;
}

h6 {
    margin-left: 3px;
    text-decoration: overline;
    color: black;
}

#li_ {
    text-decoration: underline;
}
