#kezdes {
    font-family: 'Teko', sans-serif;
    font-family: 'Klee One', cursive;
    background-color: rgb(138, 138, 138);
}


body {
    font-family: 'Teko', sans-serif;
    background-color: rgb(138, 138, 138);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
}

#aloldalmenu {
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
}

.aloldallink {
    color: white;
    text-decoration: none;
}

.aloldallink:hover {
    color: rgb(6, 153, 23)
}