#kezdes {
    font-family: 'Teko', sans-serif;
    background-color: rgb(138, 138, 138);
}

a {
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

.navbar {
    font-size: 125%;
}

.form_1 {
    color: white;
    font-size: 120%;
}

#header {
    font-size: 150%;
    font-weight: bold;
    color: white;
    text-align: center;
}

#bemutatkozas {
    margin: 20px;
    list-style-type: square;
    border: 3px solid yellow;
}

footer {
    text-align: center;
    color: white;
}

#egy_picit_a_temarol {
    border: 3px solid black;
    width: 100%;
    margin-bottom: 25px;
    font-size: 150%;
    font-weight: bold;
    color: white;
    padding: 20px;
}

#bemutatkozas {
    margin: auto;
}